/* Google Fonts Import */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap');

/* Reset padding and margin for all elements */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box; /* Include padding and border in the element's total width and height */
}

body {
    font-family: 'Roboto', sans-serif; /* Modern sans-serif font */
}

/* Navbar Styles */

.navbar {
    background-color: #2C3E50; /* Dark gray background */
    display: flex; /* Use flexbox for layout */
    justify-content: space-between; /* Space between the title and the links */
    align-items: center; /* Align items vertically */
    padding: 20px 40px; /* Add padding on the sides */
    width: 100%; /* Full width */
}

.navbar-header span {
    font-weight: 500;
    font-size: 1.5rem;
    color: white; /* Ensure the text color is white */
}

.navbar-links {
    display: flex; /* This ensures the links are in a row */
    align-items: center; /* Align the links vertically */
    list-style-type: none; /* Remove bullet points from list items if your links are in a list */
}

.navbar-links a {
    color: white; /* Text color for the links */
    text-decoration: none; /* Remove underline */
    padding: 10px 15px; /* Add some padding */
    display: block; /* Adjust display for padding and margin */
}

.navbar-links a, .dropbtn {
    color: #ecf0f1;
    text-decoration: none;
    padding: 0.5rem 1rem;
    transition: color 0.3s, transform 0.3s;
}

.dropbtn {
    color: #2C3E50;
}

.navbar-links a:hover, .dropdown:hover .dropbtn {
    color: #3498db; /* A lighter blue for hover effect */
    transform: translateY(-3px); /* Slight raise to indicate interactivity */
}

/* Dropdown Styles */
.dropdown {
    position: relative;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #ecf0f1;
    min-width: 160px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    border-radius: 4px; /* Rounded corners for the dropdown */
    overflow: hidden; /* Ensures nested elements adhere to rounded corners */
}

.dropdown-content a {
    color: #34495e; /* Dark blue, providing a subtle contrast */
    padding: 12px 16px;
    display: block;
}

.dropdown-content a:hover {
    background-color: #3498db;
    color: #ecf0f1;
}

.dropdown:hover .dropdown-content {
    display: block;
}

/* Add a slight background on hover for navbar links that are not dropdown options */
.navbar-links a:not(.dropdown-options):hover {
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 4px;
}

/* Add Device Button */
.navbar-links a[href$='add_device_page'] {
    background-color: #3498db;
    border-radius: 4px;
    transition: background-color 0.3s;
}

.navbar-links a[href$='add_device_page']:hover {
    background-color: #2980b9;
}
