<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Device Management</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}" />
    <script src="{{ url_for('static', filename='lib/jquery.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/script.js') }}" defer></script>
  </head>
  <body>
    <h2>Device Management System</h2>
    <a href="{{ url_for('add_device_page') }}">Add New Devices</a>
    <h3>Existing Devices</h3>
    <div>
      {% for device in devices %}
      <button onclick="window.location.href='{{ url_for('device_page', device_id=device.id) }}'">
        {{ device.nickname }}
      </button>
      {% endfor %}
    </div>
    {% with messages = get_flashed_messages() %} 
      {% if messages %}
        <ul>
          {% for message in messages %}
            <li>{{ message }}</li>
          {% endfor %}
        </ul>
      {% endif %} 
    {% endwith %}
  </body>
</html>
