<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Device and User Data</title>
    <link rel="icon" type="image/png" href="{{ url_for('static', filename='images/icon.png') }}">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap" rel="stylesheet">
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/navbar-styles.css') }}"
    />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/live-data-styles.css') }}"
    />
    
  </head>
  <body>
    <div class="navbar">
      <div class="navbar-header">
        <span>Live Health Management</span>
      </div>
      <div class="navbar-links">
        <a href="/">Home</a>
        <div class="dropdown">
          <button class="dropbtn">Devices ▼</button>
          <div class="dropdown-content">
            {% for device in devices %}
            <a
              class="dropdown-options"
              href="{{ url_for('device_page', device_id=device.id) }}"
              >{{ device.nickname }}</a
            >
            {% endfor %}
          </div>
        </div>
        <a href="{{ url_for('add_device_page') }}">Add New Device</a>
      </div>
    </div>

    <div class="container">
      <div class="details-form">
        
        <form
          method="POST"
          action="{{ url_for('update_device_user_details', device_id=device.id) }}"
          class="user-details-form"
        >
        <h2 class="section-title">Update Details</h2>
        
        <div class="form-group">
          <label for="nickname" class="form-label">Device Nickname:</label>
          <input
            type="text"
            id="nickname"
            name="nickname"
            value="{{ device.nickname }}"
            class="form-field"
            required
          />
        </div>

        <div class="form-group">
          <label for="user_name" class="form-label">User's Name:</label>
          <input
            type="text"
            id="user_name"
            name="user_name"
            value="{{ user_detail.user_name }}"
            class="form-field"
            required
          />
        </div>

        <div class="form-group">
          <label for="phone_number" class="form-label">Phone Number:</label>
          <input
            type="text"
            id="phone_number"
            name="phone_number"
            value="{{ user_detail.phone_number }}"
            class="form-field"
            required
          />
        </div>

        <div class="slider-group">
          <label for="bpm_upper_threshold" class="form-label">BPM Upper Threshold:</label>
          <input
            type="range"
            id="bpm_upper_threshold"
            name="bpm_upper_threshold"
            value="{{user_detail.bpm_upper_threshold}}"
            min="0"
            max="300"
            class="slider"
            required
          />
          <span id="bpm_upper_value" class="slider-value">120</span>&nbsp;bpm
        </div>

        <div class="slider-group">
          <label for="bpm_lower_threshold" class="form-label">BPM Lower Threshold:</label>
          <input
            type="range"
            id="bpm_lower_threshold"
            name="bpm_lower_threshold"
            value="{{user_detail.bpm_upper_threshold}}"
            min="0"
            max="300"
            class="slider"
            required
          />
          <span id="bpm_lower_value" class="slider-value">60</span>&nbsp;bpm
        </div>

        <div class="slider-group">
          <label for="temperature_upper_threshold" class="form-label"
            >Temperature Upper Threshold:</label
          >
          <input
            type="range"
            id="temperature_upper_threshold"
            name="temperature_upper_threshold"
            value="{{user_detail.temperature_upper_threshold}}"
            min="20"
            max="40"
            class="slider"
            required
          />
          <span id="temperature_upper_value" class="slider-value">38</span> °C
        </div>

        <div class="slider-group">
          <label for="temperature_lower_threshold"
          class="form-label"
            >Temperature Lower Threshold:</label
          >
          <input
            type="range"
            id="temperature_lower_threshold"
            name="temperature_lower_threshold"
            value="{{user_detail.temperature_lower_threshold}}"
            min="20"
            max="40"
            class="slider"
            required
          />
          <span id="temperature_lower_value" class="slider-value">35</span> °C
        </div>

          <input type="submit" value="Update" class="submit-btn"/>
        </form>
      </div>

      <div class="live-data-container">
        <div class="live-data">
          <h3 class="section-title">Live Data</h3>
          <div class="data-point">
            <span class="icon">&#128187;</span>
            <span id="device-name">{{device.nickname}}</span>
          </div>
          <div class="data-point">
            <span class="icon">&#127760;</span>
            <span id="ip">{{device.ip_address}}</span>
          </div>
          <div class="data-point">
            <span class="icon heart">&#x2764;</span>
            <span id="bpm">BPM: 0</span>&nbsp;BPM
          </div>
          <div class="data-point">
            <span class="icon">&#127777;</span> 
            <span id="temperature">Temperature: -127</span>&nbsp;°C
          </div>
        </div>
        
    

    <div class="delete-section">
      <form
        action="{{ url_for('delete_device', device_id=device.id) }}"
        method="post"
      >
        <input
          type="submit"
          value="Delete Device"
          class="delete-btn"
          onclick="return confirm('Are you sure?');"
        />
      </form>
    </div>
  </div>
  </div>

    {% with messages = get_flashed_messages() %} {% if messages %}
    <ul class="messages">
      {% for message in messages %}
      <li>{{ message }}</li>
      {% endfor %}
    </ul>
    {% endif %} {% endwith %}

    <script>
      // JavaScript to handle fetching and updating live data goes here
      const evtSource = new EventSource("/data-stream");
      evtSource.onmessage = function (e) {
        const data = JSON.parse(e.data);
        document.getElementById("bpm").innerText = data.bpm;
        document.getElementById("temperature").innerText = data.temp;
        // console.log(data);
      };

      document.getElementById('delete-device-form').addEventListener('submit', function(event) {
  const confirmDelete = confirm('Are you sure you want to delete this device?');
  if (!confirmDelete) {
    event.preventDefault();
  }
});
    </script>
    <script src="{{ url_for('static', filename='js/submit-user-details-script.js') }}"></script>

    <footer class="footer">
      <p>&copy; 2024 Live Health Management. All rights reserved.</p>
  </footer>
  </body>
</html>
